#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Other
workshop.yaml
**/.docker_staging/*
**/.terraform_staging/*
.DS_Store
*.log

# Enrionment specific configuration files
.env
ccloud.properties
TODO
workshop_details.out
workshops/*